@tailwind base;
@tailwind components;
@tailwind utilities;


/* Old stuff going out */
::view-transition-old(root) {
    animation: slideUp 1s;
  }
  
  /* New stuff coming in */
  ::view-transition-new(root) {
    animation: slideUp 1s;

  }

  @keyframes slideUp {
    from {
        transform: translateY(-100vh);
    }
    to {
        tranform: translateY(0);
    }
  }
